name: Publish Docker image

on:
  # weekly builds for security updates
  schedule:
    - cron: "0 18 * * 3"
  # and rebuild whenever we change this repo
  push:
    branches: [main]

jobs:
  push_to_registry:
    name: Push Docker image to GitHub Packages
    runs-on: ubuntu-latest

    strategy:
      matrix:
        thrift-version:
          - "0.13.0"
          - "0.14.0"

    steps:
      - name: Check out the repo
        uses: actions/checkout@v2

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ secrets.CR_USER }}
          password: ${{ secrets.CR_PAT }}

      - name: Build and push
        uses: docker/build-push-action@v2
        with:
          context: .
          file: ./Dockerfile
          push: true
          build-args: |
            THRIFT_VERSION=${{ matrix.thrift-version }}
          tags: |
            ghcr.io/reddit/thrift-compiler:${{ matrix.thrift-version }}
